[Unit]
Description=Data Portal Uptime Watchdog Service
After=network.target

[Service]
Type=oneshot
User=cesarops
Group=cesarops
WorkingDirectory=/home/cesarops/wreckhunter2000-1
Environment="REPO=/data/codebase/repos/wreckhunter2000-1"
ExecStart=/data/cesarops/ml_venv/bin/python /home/cesarops/wreckhunter2000-1/scripts/data_portal_watchdog.py
